.navbar {
  margin-bottom: 0px;
}

.nav-link.active{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.nav-link {
  text-transform: uppercase;
}

.jumboContainer {
  height: 85vh;
}

.clockText {
  font-size: 600%;
  text-align: center;
}