.navbar {
  margin-bottom: 0px;
}

.nav-link.active{
    background-color: rgba(255, 255, 255, 0.3);
}

.nav-link {
  text-transform: uppercase;
}

.jumboContainer {
  height: 87vh;
}

.clockText {
  font-size: 80px;
  text-align: center;
}

.timeButton {
  background-color: transparent;
  border-color: transparent;
  height: 100%;
  width: 25px;
}

.timeLabel {
  font-size: 1.15em;
}

.timeTitle {
  font-size: 0.75em;
  color: gray;
  margin-bottom: 0px;
}